
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'sansitaOne';
    src: url('../SansitaOne.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.01em;
    font-family: 'Noto Sans KR', sans-serif, '나눔고딕', '돋움', '굴림';
    color: #262626;
}

html, body {
    overflow-x: hidden;
    cursor: default;
}

body {
    min-width: 930px;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a, button {
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif, '나눔고딕', '돋움', '굴림';
    color: #262626;
    cursor: pointer;
}

h1, h1 span {
    font-family: 'sansitaOne', 'Noto Sans KR', sans-serif, '나눔고딕', '돋움', '굴림';
}

h2 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 100px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    body {
        min-width: 100%;
    }

    h2 {
        font-size: 27px; 
        padding-bottom: 80px;    
    }
}

/* header */
header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    max-width: 1440px;
    margin: auto;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    line-height: 60px;
    padding: 0 30px;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover, nav ul li a:active {
    color: #9080D5;  
}

.blacktext {
    color: #262626;
}

.blacktext:hover, .blacktext:active {
    color: #9080D5;     
}

.barbox {
    width: 50px;
    height: 50px;
    text-align: right;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

.bi {
    float: right;
    color: #262626;
    font-size: 36px;
    padding: 0 30px;
    cursor: pointer;

    display: none;
}

.bi-x-lg {
    position: relative;
    z-index: 11;
    margin-top: -35px;
    font-size: 25px;
}

.bi-list {
    color: #fff;
}
 
.nav_bg {
    background: #fff;
    height: 54%;
    width: 133vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: fixed;
    top: 0;
    left: -17vw;
    z-index: 5;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);

    display: none;
}

.listopen {
    margin: 0;
    background: none;
}

.listopen ul {
    margin-top: 60px;
    position: relative;
    z-index: 10;
}

.listopen ul li {
    padding: 0 125px;
    text-align: center;
}

.listopen ul li a {
    color: #262626;
}

@media screen and (max-width: 535px) {
    nav ul {
        display: none;
    }

    .bi-list {
        display: block;
    }
}

/* section */
section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sec_about, .sec_web, .sec_etc, .sec_contact, footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 25px;
}

/* home */
.sec_home {
    max-width: 1920px;
    width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.home_text {
    position: absolute;
    bottom: 0;
    left: 7%;
    margin-bottom: 7vw;
    z-index: 9;
}

.home_text h1 {
    font-size: 110px;
    line-height: 1em;
    color: #fff;
}

.home_text h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 300;
}

@media screen and (max-width: 1223px) {
    .home_text {
        margin-bottom: 8vw;
    }

    .home_text h1 {
        font-size: 9vw;
    }
}

@media screen and (max-width: 768px) {
    .sec_about, .sec_web, .sec_etc, .sec_contact, footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 320px) {
    .home_text h1 {
        line-height: 1.2em;
    }
}

/* about */
.about_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text {
    max-width: 500px;
}

.image {
    margin-right: 150px;
    position: relative;
}

.image img {
    position: relative;
    max-width: 450px;
    width: 100%;
    z-index: 2;
}

@keyframes linemove {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);        
    }
    100% {
        transform: translateX(0px);        
    }
}

@keyframes linemove2 {
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(0px);        
    }
    100% {
        transform: translateX(20px);        
    }
}

.pinkline {
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 3;
    animation: linemove ease 3s infinite;
}

.purpleline {
    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 1;
    animation: linemove2 ease 3s infinite;
}

.pinkline div {
    background: #FFC0CF; 
    border-radius: 21.5px;   
}

.purpleline div {
    background: #9080D5;  
    border-radius: 21.5px;  
} 

.line1 {
    margin-bottom: 10px;
}

.line2 {
    margin-left: 25px;
}

.pink_1 {
    width: 92px;
    height: 32px;
}

.pink_2 {
    width: 131px;
    height: 32px;
}

.purple_1 {
    width: 68px;
    height: 32px;
}

.purple_2 {
    width: 92px;
    height: 32px;
}

.text_flex {
    text-align: left;
    display: flex;
    padding-bottom: 30px;
}

.text_flex ul li {
    padding-bottom: 7px;
}

.text_flex h2 {
    flex: 0 0 125px;
    margin: 0;
    padding-bottom: 0;
    text-shadow: none;
    font-size: 22px;
    margin-right: 40px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    margin-bottom: 20px;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
}

.percent {
    position: absolute;
    top: 22%;
    left: 36%;
    font-size: 14px;
    font-weight: 500;
    color: #4644A4;

    display: none;
}

.skills ul li:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all ease 0.5s
}

.skills_text {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .about_box {
        flex-direction: column;
    }

    .image {
        margin: 0 20px 80px 20px;
    }

    .image img {
        width: 88%;
    }

    .pinkline {
        left: -3%;
    }

    .purpleline {
        right: 0;
    }
}

@media screen and (max-width: 425px) {
    .text_flex ul li {
        font-size: 14px;
    }

    .text_flex h2 {
        font-size: 19px;
    }

    .pinkline div, .purpleline {
        height: 30px;
    }

    .pink_2, .purple_2 {
        width: 22vw;
    }
}

/* web */
.web_box {
    padding-bottom: 300px;
}

.last_box {
    padding-bottom: 0;
}

.introduce {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 0px 40px;
}

.web_img {
    margin-right: 8vw;
    position: relative;
}

.web_img .pc {
    position: relative;
    max-width: 582px;
    width: 100%;
    z-index: 2;
}

.web_img .mobile {
    max-width: 138px;
    width: 25%;
    position: absolute;
    bottom: -6px;
    left: -12%;
    z-index: 2;
}

.shape {
    position: absolute;
    z-index: 1;
}

.shape svg {
    width: 100%;
}

.shape_1 {
    top: -52px;
    left: -348px;
}

.shape_2 {
    top: -95px;
    right: -299px;
}

.shape_3 {
    top: -47px;
    left: -340px;
}

.ridibook .web_text {
    order: 1;
}

.ridibook .web_img {
    order: 2;
    margin: 0 0 0 8vw;
}

.ridibook .web_img .mobile {
    bottom: -6px;
    left: 84%;
}

.web_text {
    max-width: 370px;
    position: relative;
    z-index: 3;
}

.web_text h1 {
    font-size: 60px;
    padding-bottom: 40px;
}

.introduce_text {
    display: flex;
    padding-top: 40px;
}

.introduce_text div {
    display: flex;
}

.introduce_text div h3 {
    font-size: 16px;
    padding-right: 5px;
}

.contribution {
    padding-left: 15px;
}

.reaction {
    padding-top: 10px;
}

.btn_box {
    padding-top: 80px;
    display: flex;
}

.btn_box button {
    line-height: 30px;
    width: 137px;
    height: 30px;
    padding: 0 12px;
    border-radius: 12.5px;
    background: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
    font-size: 14px;
    overflow: hidden;
    flex: 0 0 137px;
}

.btn_box button:hover, .btn_box button:active {
    color: #fff;
    background: #4644A4;
    transition: all ease 0.5s;
}

.btn_box a {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .web_box {
        min-width: 100%;
    }

    .introduce {
        flex-direction: column;
    }

    .web_img, .ridibook .web_img {
        margin: 0;
        padding-bottom: 50px;
        text-align: center;
    }

    .ridibook .web_img {
        order: 1;
    }

    .ridibook .web_img .mobile {
        bottom: 45px;
        left: 74%;
    }

    .web_img .mobile {
        bottom: 45px;
        left: 0;
    }

    .web_text {
        max-width: 510px;
        min-width: 270px;
        width: 100%;
    }

    .introduce_text {
        padding-top: 18px;
    }

    .btn_box {
        padding-top: 50px;
    }

    .web_img .pc {
        width: 75%;
    }

    .web_img .mobile {
        width: 23%;
    }

    .shape_1 {
        top: -81px;
        left: -317px;
    }

    .shape_3 {
        top: -95px;
        left: -340px;
    }
}

@media screen and (max-width: 535px) {
    .shape {
        width: 65%;
    }

    .shape_1 {
        top: -160px;
        left: -93px;
    }

    .shape_2 {
        top: -181px;
        right: -43px;
    }

    .shape_3 {
        top: -129px;
        left: -98px;
    }
}

@media screen and (max-width: 425px) {
    .web_text h1 {
        font-size: 55px;
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 320px) {
    .btn_box {
        flex-direction: column;
        align-items: center;
    }

    .btn_box button {
        flex: 0;
        margin-bottom: 13px;
    }

    .btn_box a {
        padding-left: 0;
    }

    .web_text {
        text-align: center;
    }
}

/* etc */
.sec_etc {
    max-width: 1100px;
    margin-bottom: 150px;
}

.etc_nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 55px;
    border-radius: 13px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    padding: 0 10px;
}

.etc_nav ul li {
    padding: 0 5px;
}

.etc_nav ul li a {
    line-height: 55px;
    font-size: 16px;
    font-weight: bold;
}

.etc_nav ul li a:hover, .etc_nav ul li a:active {
    color: #9080D5;   
}

.purple_text {
    color: #4644A4;    
}

.purple_text:hover, .purple_text:active {
    color: #4644A4 !important;       
}

.box_img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 75px;
}

.img_wapper {
    width: 27vw;
    height: 240px;
    flex: 0 0 27vw;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline-block;
}

.etc_img {
    width: 27vw;
    height: 240px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.etc_img:hover {
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.purple_box {
    display: flex !important;
}

.box_img {
    display: none;
}

@media screen and (max-width: 425px) {
    .etc_nav ul {
        overflow: hidden;
    }

    .etc_nav ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .etc_nav ul li a {
        font-size: 12px;
    }

    .introduce_text {
        justify-content: center;
    }
}

/* img */
/* book */
#bo_1 {
    background: url("../images/종이여자_앞.jpg") no-repeat center center;
    background-size: cover;
}
#bo_2 {
    background: url("../images/감정을읽는시간_흰.jpg") no-repeat center center;
    background-size: cover;
}
#bo_3 {
    background: url("../images/여행북_앞.jpg") no-repeat center center;
    background-size: cover;
}

/* editorial */
#ed_1 {
    background: url("../images/3단접지_앞.jpg") no-repeat center center;
    background-size: cover;
}
#ed_2 {
    background: url("../images/레미_앞.jpg") no-repeat center center;
    background-size: cover;
}
#ed_3 {
    background: url("../images/빌미_앞.jpg") no-repeat center center;
    background-size: cover;
}
#ed_4 {
    background: url("../images/빅피쉬_앞.jpg") no-repeat center center;
    background-size: cover;
}
#ed_5 {
    background: url("../images/내사모_앞.jpg") no-repeat center center;
    background-size: cover;
}
#ed_6 {
    background: url("../images/공익광고_앞.jpg") no-repeat center center;
    background-size: cover;
}

/* graphic */
#gr_1 {
    background: url("../images/웅크린_앞.jpg") no-repeat center center;
    background-size: cover;
}
#gr_2 {
    background: url("../images/달_앞.jpg") no-repeat center center;
    background-size: cover;
}
#gr_3 {
    background: url("../images/나룻배_앞.jpg") no-repeat center center;
    background-size: cover;
}
#gr_4 {
    background: url("../images/복숭아.jpg") no-repeat center center;
    background-size: cover;
}
#gr_5 {
    background: url("../images/뒷모습.jpg") no-repeat center center;
    background-size: cover;
}
#gr_6 {
    background: url("../images/밤편지.jpg") no-repeat center center;
    background-size: cover;
}

/* logo */
#lg_1 {
    background: url("../images/맛송이면집.jpg") no-repeat center center;
    background-size: cover;
}
#lg_2 {
    background: url("../images/mac.jpg") no-repeat top right;
    background-size: cover;
}

/* web */
#web_1 {
    background: url("../images/웹.jpg") no-repeat center center;
    background-size: cover;
}

/* contact */
.contact_title {
    position: relative;
    display: inline-block;
}

.contact_title h2 {
    position: relative;
    z-index: 2;
    margin-top: 0;
}

.circle {
    width: 43px;
    height: 43px;
    background: #DCD4FF;
    position: absolute;
    top: -2px;
    right: -24px;
    border-radius: 50%;
}

.contact {
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.contact div {
    display: flex;
    align-items: center;
}

.contact h3 {
    padding-right: 30px;
}

.contact p {
    color: #666;
}

.email {
    padding-left: 50px;
}

/* footer */
footer {
    text-align: center;
    margin-top: 200px;
    position: relative;
    margin-bottom: 0;
    overflow-y: hidden;
}

.elipse {
    background: url("../images/ellipse.svg") no-repeat top center;
    background-size: cover;
    height: 263px;
    max-width: 1140px;
    margin: 0 auto;
}

footer p {
    font-size: 13px;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    display: block;
    width: 100%;
    left: 0;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    footer {
        margin-top: 30vw;
    }

    .elipse {
        height: 28vw;
    }

    footer p {
        font-size: 1.6vw;
        bottom: 6vw;
    }
}

@media screen and (max-width: 425px) {
    .contact {
        display: block;
        margin-left: -48px;
    }

    .contact div {
        justify-content: center;
    }
}

/* click_div */
.bg { /* 팝업창 배경 */
    position: fixed;
    background: rgba(0,0,0,0.8);
    opacity: .8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    cursor: pointer;

    display: none;
}

.click {
    max-width: 950px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 16;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;

    display: none;
}

.click::-webkit-scrollbar {
    width: 4px;
}

.click::-webkit-scrollbar-track {
    background: #E5E5E5;
}

.click::-webkit-scrollbar-thumb {
    background: #9D9D9D;
    border-radius: 10px;
}

.fa-solid {
    color: #BFBFBF;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 17;
}

.click div {
    width: 100%;
    height: 2510px;
    background-size: cover;
}

.click_img {
    height: 1356px !important;
}

#click_web_1 {
    height: 9571px !important;
}

.click_espoir_img {
    height: 5106px !important;
}

.click_toss_img {
    height: 9750px !important;
}

#click_html {
    height: 2148px !important;
}

#click_js {
    height: 1625px !important;
}

#click_figma {
    height: 2545px !important;
}

/* click_img */
/* skills */
#click_html {
    background: url("../images/HTML_메인.jpg") no-repeat top left;
}
#click_js {
    background: url("../images/자바_메인.jpg") no-repeat top left;
}

#click_figma {
    background: url("../images/피그마_메인.jpg") no-repeat top left;
}


/* webpage */
.click_espoir_img {
    background: url("../images/에스쁘아_메인.png") no-repeat top left;
}
.click_ridibook_img {
    background: url("../images/리디북스_메인.png") no-repeat top left;
}
.click_toss_img {
    background: url("../images/토스_메인.png") no-repeat top left;
}

/* etc */
/* etc_book */
#click_bo_1 {
    background: url("../images/종이여자_메인.jpg") no-repeat top left;
}
#click_bo_2 {
    background: url("../images/감정_메인.jpg") no-repeat top left;
}
#click_bo_3 {
    background: url("../images/여행북_메인.jpg") no-repeat top left;
}

/* etc_ed */
#click_ed_1 {
    background: url("../images/3단접지_메인.jpg") no-repeat top left;
}
#click_ed_2 {
    background: url("../images/레미제라블_메인.jpg") no-repeat top left;
}
#click_ed_3 {
    background: url("../images/빌미_메인.jpg") no-repeat top left;
}
#click_ed_4 {
    background: url("../images/빅피쉬_메인.jpg") no-repeat top left;
}
#click_ed_5 {
    background: url("../images/내사모_메인.jpg") no-repeat top left;
}
#click_ed_6 {
    background: url("../images/공익광고_메인.jpg") no-repeat top left;
}

/* etc_gr */
#click_gr_1 {
    background: url("../images/내면_메인.jpg") no-repeat top left;
}
#click_gr_2 {
    background: url("../images/달_메인.jpg") no-repeat top left;
}
#click_gr_3 {
    background: url("../images/나룻배_메인.jpg") no-repeat top left;
}
#click_gr_4 {
    background: url("../images/복숭아_메인.jpg") no-repeat top left;
}
#click_gr_5 {
    background: url("../images/뒷모습_메인.jpg") no-repeat top left;
}
#click_gr_6 {
    background: url("../images/밤편지_메인.jpg") no-repeat top left;
}

/* etc_lg */
#click_lg_1 {
    background: url("../images/맛송송_메인.jpg") no-repeat top left;
}
#click_lg_2 {
    background: url("../images/맥_메인.jpg") no-repeat top left;
}

/* etc_web */
#click_web_1 {
    background: url("../images/웹_메인.jpg") no-repeat top left;
}